@import "iconfont/css/fontello.css";

.cardinal-wrapper {

max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.quest-input {

}

.quest-output {

}

.npc-input {

}

.npc-output {

}

.lore-input {

}

.lore-output {

}

.money-input {

}

.money-output {

}

.table-input {

}

.table-output {

}

.outerwrapper {
	border: 1px solid black;
	padding: 10px;
}

.innerwrapper {
	display: flex;
}

.input {
    width: 50%;
    display: inline-block;
    float: left;
}

.output {
    width: 49%;
    min-height: 162px;
    display: inline-block;
    border: 2px solid black;
}

h1,h2,h3,h4,h5,h6,p {
	padding: 0 !important;
	margin: 0 !important;
}

.headline {
	text-align: center;
}

.questgen-submit {
	display: block;
	margin-left: 80px;
	margin-top:20px;
	margin-bottom: 5px;
}

.questgen-staende {
}

.questgen-region {
}

.questgen-region .select {
	margin-left: 24px;
}

.questgen-staende .select {
	margin-left: 25px;
}

.input-text {
	margin-top: 10px;
	margin-bottom: 10px;
}

.questgen-reputation {

}

.questgen-reputation .select {
	margin-left: 50px;
}

.generator-select {
	display: flex;
	margin-bottom: 10px;
}

.npcgen-tragicalpast .select {
	margin-left: 20px;
}

.npcgen-region .select {
	margin-left: 79px;
}

.npcgen-stand .select {
	margin-left: 89px;
}

.npcgen-job .select {
	margin-left: 106px;
}

.npcgen-submit {
	margin-left: 135px;
	margin-top: 10px;
}

.moneygen-geld .gulden {
	margin-left: 39px;
}

.moneygen-belohnung .select {
	margin-left: 25px;
}

.moneygen-kategorie .select {
	margin-left: 32px;
}

.moneygen-submit {
	margin-left: 110px;
	margin-top: 15px;
}

.lore-outerwrapper {
	display: none;
}

.table-outerwrapper {
	display: none;
}

.input,.output {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.opener:before {
	position:absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.opener {
	position:absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: black;
	text-decoration: none;


}

.opener:hover {
	color:black;
	text-decoration: none;
}