
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-resize-full:before { content: '\e802'; } /* '' */
.icon-up-dir:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-resize-small:before { content: '\e805'; } /* '' */
.icon-down-circled2:before { content: '\e806'; } /* '' */
.icon-up-circled2:before { content: '\e807'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */